<%= form_for @user, url: { action: 'new_user' } do |f| %>
  <% if !@user.errors.blank? %>
    <div>
      <h2>保存失败，请修改一下错误后继续：</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username, '用户名' %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :name, '姓名' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone, '手机' %>
    <%= f.telephone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email, '邮箱' %>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, '姓名' %>
    <%= f.text_field :password, value: @user.password %>
  </div>
  <div>
    <%= f.submit '保存', class: 'btn btn-primary' %>
  </div>
<% end %>